<p>
  Meals Component:
</p>
<p>{{restaurant.username}}</p>
<p>{{restaurant.name}}</p>

<form>
  <button (click)="backToAccount()">Get Back to my Account</button>
</form>
<div *ngIf="showFormAddMeal">
<p>Add a new Meal to the menu of your Restaurant:</p><br>

<label >Menu Section:
  <select type="text" [(ngModel)]="menuSection.name" (change)="selected(name)">
    <option  *ngFor="let ms of menuSections" value="{{ms.name}}">{{ms.name}}
    </option>
  </select></label><br>

<form  #mealForm >

    <label>NAME:
    <input  [(ngModel)]="meal.name" type="text"
            name="name" placeholder="name" size="30"></label><br>
    <label>DESCRIPTION:
    <input  [(ngModel)]="meal.description" type="text"
          name="description" placeholder="description" size="30"></label><br>
    <label>QUANTITY:
    <input  [(ngModel)]="meal.quantity" type="text"
          name="quantity" placeholder="quantity" size="30"></label><br>
    <label>PRICE:
    <input  [ngModel]="meal.price | number" (ngModelChange)="meal.price=$event.toLocaleString()" type="text"
            name="price" placeholder="price" size="30"></label><br>

  <button (click)="saveMeal(mealForm)">Save Meal</button><br>
  {{responseOnSaveMeal}}

</form>
</div>


<button (click)="getListOfMeals(restaurant)">Show All my Meals</button><br>

<form *ngIf="showListOfMeals">
  <ul>
    The list of Meals:
    <li *ngFor="let meal of meals">
      <p>Menu Section: {{meal.menuSection.name}}</p>
      <p>NAME: {{meal.name}}</p>
      <p>DESCRIPTION: {{meal.description}}</p>
      <p>QUANTITY: {{meal.quantity}}</p>
      <p>PRICE: {{meal.price}}</p>
      <button (click)="update(meal)" >UPDATE</button>
      <button (click)="delete(meal)" >DELETE</button>
    </li>
  </ul>
</form>

<div *ngIf="showUpdateForm">

  <p>Update a meal:</p>
  <label >Menu Section:
    <select type="text" [(ngModel)]="menuSection.name" (change)="selected(name)">
      <option  *ngFor="let ms of menuSections" value="{{ms.name}}">{{ms.name}}
      </option>
    </select></label><br>
<form  #formToBeUpdated >

  <label>Name:
    <input [ngModel]="meal.name" [(ngModel)]="mealToUpdate.name" type="text"
           name="name" placeholder="name">
  </label><br>
  <label>Description:
    <input [ngModel]="meal.description" [(ngModel)]="mealToUpdate.description" type="text"
           name="description" placeholder="description">
  </label><br>
  <label>Quantity:
    <input [ngModel]="meal.quantity" [(ngModel)]="mealToUpdate.quantity" type="text"
           name="quantity" placeholder="quantity">
  </label><br>
  <label>Price:
    <input [ngModel]="meal.price" [(ngModel)]="mealToUpdate.price" type="text"
           name="price" placeholder="price">
  </label><br>
  <button  (click)="updateMeal(formToBeUpdated)" type="button">Save Changes</button>

</form>
</div>
<h4>{{responseOnUpdate}}</h4>
<h4>{{responseOnDelete}}</h4>


